<STYLE TYPE="text/css">
<!-- 
BODY { margin-top: 0; margin-right: 0; margin-left: 0; margin-bottom: 0; font-family: Verdana, arial; font-size: 11; scrollbar-face-color: #8E8E8E; scrollbar-shadow-color: #000000; scrollbar-highlight-color: #FFFFFF; scrollbar-3dlight-color: #000000; scrollbar-darkshadow-color: #000000; scrollbar-track-color: #BBBBBB; scrollbar-arrow-color: #000000}
A {text-decoration: underline; color: #000000; }
A:HOVER { text-decoration: none; color: #555555; }
A:ACTIVE { text-decoration: underline; color: #000000; }
A:VISITED {text-decoration: underline; }
A:LINK { text-decoration: underline; color: #000000; }
CODE { font-size: 13; }
INPUT {	BACKGROUND-COLOR: #8B8B8B; BORDER-BOTTOM-COLOR: #D0D0D0; BORDER-LEFT-COLOR: #D0D0D0; BORDER-RIGHT-COLOR: #D0D0D0; BORDER-TOP-COLOR: #D0D0D0; COLOR: #000000; FONT-FAMILY: Verdana; font-size: 11 }
TEXTAREA {	BACKGROUND-COLOR: #8B8B8B; BORDER-BOTTOM-COLOR: #D0D0D0; BORDER-LEFT-COLOR: #D0D0D0; BORDER-RIGHT-COLOR: #D0D0D0; BORDER-TOP-COLOR: #D0D0D0; COLOR: #000000; FONT-FAMILY: Verdana; font-size: 11; }
-->
</STYLE>